* {
  font-family: 'Open Sans', sans-serif;
}

textarea {
  font-family: 'Inconsolata', Consolas, monospace;
  width: 80%;
}

.argument-button {
  transform: translate(0px, -4px);
  text-align: center;
}
